GITHUB_TOKEN=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ACCOUNT_ID=
R2_ANALYTICS_BUCKET=byrdocs-analytics
LOGS_DB_HOST=
LOGS_DB_PORT=
LOGS_DB_USERNAME=
LOGS_DB_PASSWORD=
LOGS_DB_DATABASE=byrdocs-logs
